<div id="ticket">
  <h2> <%= @ticket.title %> </h2>
  <table border=1>
    <tr>
      <td>
        <%= link_to "Edit Ticket", [:edit, @project, @ticket]  %> </td>
      <td>
      <%= link_to "Delete Ticket", [@project, @ticket], method: :delete, data: { confirm: "are u sure u want to delete this ticket?" } %> </td>
    </tr>
</table>
  <%= simple_format(@ticket.description)%>
</div>
